
<div class="col-sm-10" >
<div class="tab-content">
<div style="text-align: left"><h2>Admin</h2></div>
<div class="col-sm-10" >
    <form id="register" name="resister" class="form-horizontal;" >

   <table class="table table-responsive table-bordered table-striped">
       <thead>
       <td><span ng-click="sortfield='user.username';reverse=!reverse"
                 class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Username</td>
       <td><span ng-click="sortfield='user.password';reverse=!reverse"
               class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Password</td>
       <td><span
                 class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Role</td>
       <td><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Action</td>
       <tr><td><input ng-model="nuser.username" type="text" placeholder="username"></td>
           <td><input ng-model="nuser.password" type="password" placeholder="password"></td>
           <td><input ng-model="nuser.roles" type="text" placeholder="role1|role2"></td>
           <td>
               <span class="glyphicon glyphicon-plus" ng-click="addUser()" aria-hidden="true"></span>
               <span class="glyphicon glyphicon-ok" ng-click="updateUser()" aria-hidden="true"></span>
           </td></tr>
       </thead>
       <tbody>
       <tr ng-repeat="user in users | orderBy:sortfield:reverse ">
           <td>{{user.username}}</td>
           <td> <input type="password" ng-model="user.password" readonly></td>
           <td>{{user.roles.join().replace(',','|')}}</td>
           <td>
               <span class="glyphicon glyphicon-remove" ng-click="deleteUser($index)" aria-hidden="true"></span>
               <span class="glyphicon glyphicon-pencil" ng-click="selectUser($index)" aria-hidden="true"></span>
           </td></tr>


       </tbody>
   </table>

    </form>
</div>
    </div>
    </div>

