

<div class="col-sm-9" ng-controller="ProfileController">
    <div class="tab-content">
        <div><h2>Profile</h2></div>
<form class="">
    <div class="form-group row border">
        <label for="uername" class="col-sm-2 form-control-label">UserName</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-model="nuser.username" id="uername" placeholder="username">
        </div>
    </div>
    <div class="form-group row">
        <label for="password" class="col-sm-2 form-control-label">Password</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" ng-model="nuser.password" id="password" placeholder="password">
        </div>
    </div>
    <div class="form-group row">
        <label for="firstname" class="col-sm-2 form-control-label">First Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-model="nuser.firstName" id="firstname" placeholder="FirstName">
        </div>
    </div>
    <div class="form-group row">
        <label for="lastname" class="col-sm-2 form-control-label">LastName</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-model="nuser.lastName" id="lastname" placeholder="LastName">
        </div>
    </div>
    <div class="form-group row">
        <label for="email" class="col-sm-2 form-control-label">Email</label>
        <div class="col-sm-4">
            <input type="email" class="form-control" ng-model="nuser.email" id="email" placeholder="Email">
        </div>
    </div>

    <div class="form-group row " >
        <label for="update" class="col-sm-2 form-control-label"></label>
        <div class="col-sm-4">
            <input type="button" ng-click="update()" class="form-control" id="update" value="update">
        </div>
    </div>


</form>
        </div>
</div>
