<div class="col-sm-10" >
    <h2 id="type">Forms</h2>
    <ul class="nav nav-tabs" >
        <li class="active" onclick=changetext(true)><a data-toggle="tab"  href="#menu1">Forms</a></li>
        <li  onclick="changetext(false)"><a  href="#/fields">Fields</a></li>
    </ul>

    <div class="tab-content">

        <div id="menu1" class="tab-pane fade in active">
            <div class="col-sm-8" >
                <form id="register" name="resister" class="form-horizontal;" >

                    <table class="table table-striped table-bordered">
                        <thead>
                        <td> <span ng-click="sortfield='form.title';reverse=!reverse"
                                class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Form Name</td>
                        <td> <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Action</td>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input ng-model="model.newform.title" type="text" width="50" placeholder="name"></td>
                            <td>
                                <span class="glyphicon glyphicon-plus" ng-click="model.addForm()" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-ok" ng-click="model.updateForm()" aria-hidden="true"></span>
                            </td>
                        </tr>

                        <tr ng-repeat="form in model.user_forms | orderBy:sortfield:reverse">
                            <td><a  href="#/form/{{form._id}}/fields">{{form.title}}</a></td>
                            <td>
                                <span class="glyphicon glyphicon-remove" ng-click="model.deleteForm($index)" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-pencil" ng-click="model.selectForm($index)" aria-hidden="true"></span>
                            </td></tr>

                        </tbody>
                    </table>

                </form>
            </div>
        </div>

    </div>
    </div>


