
<div class="col-sm-10" >
    <div class="tab-content">
        <div style="text-align: left"><h2>Tracks</h2></div>
        <div class="col-sm-10" >
            <form id="register" name="resister" class="form-horizontal;" >

                <table class="table table-responsive table-bordered ">
                    <thead>
                    <td><span ng-click="sortfield='user.username';reverse=!reverse"
                              class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Track Name</td>
                    <td><span ng-click="sortfield='user.password';reverse=!reverse"
                              class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Play Count</td>
                    <td><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Track Url</td>
                    <td><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Image</td>
                    </thead>
                    <tbody>
                    <tr ng-repeat="track in model.tracks | orderBy:sortfield:reverse ">
                        <td>{{track.name}}</td>
                        <td>{{track.playcount}}</td>
                        <td>{{track.url}}</td>
                        <td><img ng-src="{{track.image[3]['#text']}}" ></image></td>
                    </tr>


                    </tbody>
                </table>

            </form>
        </div>
    </div>
</div>

