
<div class="col-sm-10" >
    <div class="tab-content">
        <div style="text-align: left"><h2>Artist</h2></div>
        <div class="col-sm-10" >
            Search Artist: <input type="text" ng-model="artist">
            <input type="button" value="Search" ng-click="search()">
            <form id="register" name="resister" class="form-horizontal;" >

                <table class="table table-responsive table-bordered ">
                    <thead>
                    <td><span ng-click="sortfield='user.username';reverse=!reverse"
                              class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Artist Name</td>
                    <td><span ng-click="sortfield='user.password';reverse=!reverse"
                              class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Artist Url</td>
                    <td><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Image</td>
                    <!--<tr><td><input ng-model="nuser.username" type="text" placeholder="username"></td>-->
                    <!--<td><input ng-model="nuser.password" type="password" placeholder="password"></td>-->
                    <!--<td><input ng-model="nuser.roles" type="text" placeholder="role1|role2"></td>-->
                    <!--<td>-->
                    <!--<span class="glyphicon glyphicon-plus" ng-click="addUser()" aria-hidden="true"></span>-->
                    <!--<span class="glyphicon glyphicon-ok" ng-click="updateUser()" aria-hidden="true"></span>-->
                    <!--</td></tr>-->
                    </thead>
                    <tbody>
                    <tr ng-repeat="artist in artists | orderBy:sortfield:reverse ">
                        <td><a ng-click="getTracks(artist.name)">{{artist.name}}</a></td>
                        <!--<td>{{artist.name}}</td>-->
                        <td>{{artist.url}}</td>
                        <td><img ng-src="{{artist.image[3]['#text']}}" ></image></td>
                        <!--<td><img ng-src="{{track.image[0].#text}}"> </td>-->
                        </tr>


                    </tbody>
                </table>

            </form>
        </div>
    </div>
</div>

