
<div ng-controller="homecontroller">

<!--<div class="col-sm-8">
Welcome! {{currentUser.firstName}}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo
lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend
tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.
Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.
Aenean velit odio, elementum in tempus ut, vehicula eu diam.
Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales
nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam
odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at
ultricies metus viverra. Pellentesque arcu mauris, malesuada quis
ornare accumsan, blandit sed diam.
</div>-->
  <!-- <div ng-show="user.type == 'artist">-->
       <div>
           <input  class="" size="75"type="text" ng-model="model.post.data">
           <button class=" btn-info" ng-click="model.post()">Post</button>
       </div>
  <!-- </div>-->
<div>&nbsp</div>
    <div ng-repeat="post in model.posts">
       <!-- <div><input size="100" type="text" readonly ng-model="post.content"></div>-->
        <div >
            <textarea readonly cols="75">{{post.content}}</textarea></div>
            {{post.like}}<i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true" ng-click="model.likePost(post._id)"></i>
            <i class="fa fa-times fa-2x" aria-hidden="true" ng-click="model.deletePost(post._id)"></i>


    </div>

</div>
