<nav ng-controller="HeaderController as model" class="navbar navbar-inverse" >
    <div class="container-fluid ">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Music for Life</a>
        </div>
        <div style="float:right">
            <ul class="nav navbar-nav ">
                <li><a ng-show="currentUser==null" ng-class="{'active':model.$location.url() == '/register'}" href="#/register">Register</a></li>
                <li><a ng-show="currentUser==null" href="#/login">Login</a></li>
                <li><a ng-show="currentUser!=null"  ng-click="model.logout()">Logout</a></li>
                <li><a ng-show="currentUser!=null"  href="">{{user.username}}</a></li>
                <li><a ng-show="currentUser!=null"  href="#/profile">Profile</a></li>
                <li><a ng-show="currentUser!=null" href="#/favorites">Favorites</a></li>
                <li><a ng-show="(currentUser!=null && admin)" ng-class="{'active':model.$location.url() == '/admin'}"href="#/admin">Admin</a></li>
            </ul>
        </div>
    </div>
</nav>
