<!--<nav ng-controller="HeaderController as model" class="navbar navbar-inverse" >-->
    <!--<div class="container-fluid ">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Music for Life</a>
        </div>
        <div style="float:right">
            <ul class="nav navbar-nav ">
                <li><a ng-show="currentUser==null" ng-class="{'active':model.$location.url() == '/register'}" href="#/register">Register</a></li>
                <li><a ng-show="currentUser==null" href="#/login">Login</a></li>
                <li><a ng-show="currentUser!=null"  ng-click="model.logout()">Logout</a></li>
                <li><a ng-show="currentUser!=null"  href="">{{user.username}}</a></li>
                <li><a ng-show="currentUser!=null"  href="#/profile">Profile</a></li>
                <li><a ng-show="currentUser!=null" href="#/favorites">Favorites</a></li>
                <li><a ng-show="(currentUser!=null && admin)" ng-class="{'active':model.$location.url() == '/admin'}"href="#/admin">Admin</a></li>
            </ul>
        </div>
    </div>-->
    <header ng-controller="HeaderController as model" class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">MSocial</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-show="currentUser==null" ng-class="{'active':model.$location.url() == '/register'}" href="#/register">Register</a></li>
                    <!--<li class="active"><a href="index.html">Home</a></li>-->
                    <li><a href="#/mSocial"> MSocial</a></li>
                    <li><a ng-show="currentUser==null" href="#/login">Login</a></li>
                    <li><a ng-show="currentUser!=null"  ng-click="model.logout()">Logout</a></li>
                    <li><a ng-show="currentUser!=null && currentUser.type=='artist'" >{{currentUser.profileViews}}Views</a></li>
                    <li><a ng-show="currentUser==null" href="#/artistRegisterRequest">Artists Register</a></li>
                    <li><a ng-show="(currentUser!=null && admin)" ng-class="{'active':model.$location.url() == '/admin'}"href="#/admin">Admin</a></li>
                </ul>
            </div>
        </div>
    </header>
<!--</nav>-->
