<!--<div>
    <table class="col-sm-1 col-md-1">

        <div  ng-repeat="track in model.tracks">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail tile tile-medium tile-teal">
                    <image ng-src="{{track.image}}"> </image>
                </div>
                Name:{{track.name}}
                Artist:{{track.artist}}
                <button ng-click="model.remove(track._id)">Remove</button>
            </div>

        </div>
    </table>
</div>-->
<div>
    <table class="col-sm-1 col-md-1">

        <div  ng-repeat="track in model.tracks">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail tile tile-medium tile-teal">
                    <image ng-src="{{track.image}}"> </image>
                </div>
                Name:{{track.name}}
                Artist:{{track.artist}}
                <button ng-click="model.remove(track._id)">Remove</button>
            </div>

        </div>
    </table>
</div>