<div class="row no-gutter col-sm-2">
    <div class="table-responsive  nopadding">
        <table  class="table table-bordered  " border="solid" style="float: left; empty-cells: show"  >
            <tr>
                <td><a href="#/home">Home</a></td>
            </tr>
            <tr ng-show="user!=null">
                <td><a  href="#/profile">Profile</a></td>
            </tr>

            <tr ng-show="user!=null" >
                <td><a href="#/toptracks">Show Top Tracks </a></td>
            </tr>
            <tr ng-show="user!=null" >
                <td><a href="#/searchArtist">Search Artist </a></td>
            </tr>
            <tr ng-show="user!=null" >
                <td><a href="#/getSearchVideos">Search Videos</a></td>
            </tr>
            <tr height="300px">
                <td>&nbsp</td>
            </tr>
        </table>
    </div>
    </div>